<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TChunkInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.TChunkInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="chunk_number" jdbcType="DECIMAL" property="chunkNumber" />
    <result column="chunk_size" jdbcType="DECIMAL" property="chunkSize" />
    <result column="current_chunkSize" jdbcType="DECIMAL" property="currentChunkSize" />
    <result column="identifier" jdbcType="VARCHAR" property="identifier" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="relative_path" jdbcType="VARCHAR" property="relativePath" />
    <result column="total_chunks" jdbcType="DECIMAL" property="totalChunks" />
    <result column="type" jdbcType="DECIMAL" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, chunk_number, chunk_size, current_chunkSize, identifier, filename, relative_path, 
    total_chunks, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_chunk_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_chunk_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.TChunkInfo">
    insert into t_chunk_info (id, chunk_number, chunk_size, 
      current_chunkSize, identifier, filename, 
      relative_path, total_chunks, type
      )
    values (#{record.id,jdbcType=VARCHAR}, #{record.chunkNumber,jdbcType=DECIMAL}, #{record.chunkSize,jdbcType=DECIMAL},
      #{record.currentChunkSize,jdbcType=DECIMAL}, #{record.identifier,jdbcType=VARCHAR}, #{record.filename,jdbcType=VARCHAR},
      #{record.relativePath,jdbcType=VARCHAR}, #{record.totalChunks,jdbcType=DECIMAL}, #{record.type,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.TChunkInfo">
    insert into t_chunk_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="record.id != null">
        id,
      </if>
      <if test="record.chunkNumber != null">
        chunk_number,
      </if>
      <if test="record.chunkSize != null">
        chunk_size,
      </if>
      <if test="record.currentChunkSize != null">
        current_chunkSize,
      </if>
      <if test="record.identifier != null">
        identifier,
      </if>
      <if test="record.filename != null">
        filename,
      </if>
      <if test="record.relativePath != null">
        relative_path,
      </if>
      <if test="record.totalChunks != null">
        total_chunks,
      </if>
      <if test="record.type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="record.id != null">
        #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.chunkNumber != null">
        #{record.chunkNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.chunkSize != null">
        #{record.chunkSize,jdbcType=DECIMAL},
      </if>
      <if test="record.currentChunkSize != null">
        #{record.currentChunkSize,jdbcType=DECIMAL},
      </if>
      <if test="record.identifier != null">
        #{record.identifier,jdbcType=VARCHAR},
      </if>
      <if test="record.filename != null">
        #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.relativePath != null">
        #{record.relativePath,jdbcType=VARCHAR},
      </if>
      <if test="record.totalChunks != null">
        #{record.totalChunks,jdbcType=DECIMAL},
      </if>
      <if test="record.type != null">
        #{record.type,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.TChunkInfo">
    update t_chunk_info
    <set>
      <if test="record.chunkNumber != null">
        chunk_number = #{record.chunkNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.chunkSize != null">
        chunk_size = #{record.chunkSize,jdbcType=DECIMAL},
      </if>
      <if test="record.currentChunkSize != null">
        current_chunkSize = #{record.currentChunkSize,jdbcType=DECIMAL},
      </if>
      <if test="record.identifier != null">
        identifier = #{record.identifier,jdbcType=VARCHAR},
      </if>
      <if test="record.filename != null">
        filename = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.relativePath != null">
        relative_path = #{record.relativePath,jdbcType=VARCHAR},
      </if>
      <if test="record.totalChunks != null">
        total_chunks = #{record.totalChunks,jdbcType=DECIMAL},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{record.id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.TChunkInfo">
    update t_chunk_info
    set chunk_number = #{record.chunkNumber,jdbcType=DECIMAL},
      chunk_size = #{record.chunkSize,jdbcType=DECIMAL},
      current_chunkSize = #{record.currentChunkSize,jdbcType=DECIMAL},
      identifier = #{record.identifier,jdbcType=VARCHAR},
      filename = #{record.filename,jdbcType=VARCHAR},
      relative_path = #{record.relativePath,jdbcType=VARCHAR},
      total_chunks = #{record.totalChunks,jdbcType=DECIMAL},
      type = #{type,jdbcType=DECIMAL}
    where id = #{record.id,jdbcType=VARCHAR}
  </update>
  <select id="selectChunkNumbers" parameterType="com.example.demo.entity.TChunkInfo" resultType="int">
    select 
    chunk_number
    from t_chunk_info
    where identifier = #{record.identifier,jdbcType=VARCHAR}
    and filename = #{record.filename,jdbcType=VARCHAR}
  </select>
  
</mapper>